*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

body {
  align-items: center;
  background-color: #9DBEBB;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

}

.container {
  background-color: #FFB039;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  max-width: 954px;
  min-height: 594px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.form-container {
  background-color: #BE0909;
  max-width: 609px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: stretch;

}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-left: 65px;
  width: 65%;
}

.form {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffff;
  letter-spacing: 0.1rem;
}

/* LABELS */
.form__label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
}

label {
  display: block;
}

.label-name, .label-full-mess {
  width: 100%;
}

/* INPUTS*/
.form__label--input {
background-color: #BE0909;
display: block;
filter: brightness(90%);
margin-top: 22px;
margin: 22px 0 21px 0;
padding: 8px;
font-size: 18px;
font-family: 'Roboto', sans-serif;
color: #ffd;
letter-spacing: 0.3rem;
background-image: linear-gradient(#9DBEBB, #9DBEBB);
background-position: 0 100%;
background-size: 0% 2px;
background-repeat: no-repeat;
transition:
  background-size 0.8s,
  background-position 0s 0.8s;
}

.form__label--input::placeholder {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #ffd;
  letter-spacing: 0.3rem;
}

.form__label--input, .form__btn {
  cursor: pointer;
}

.form__label--input:hover, .form__label--input:focus {
  background-position: 100% 100%;
  background-size: 100% 2px;
  border: none;
  display: block;
}

.form__label--input:focus, .form__label--input:active {
  color: #ffff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.3rem;
  line-height: 21px;
  display: block;
}

button.form__btn {
  align-self: center;
  max-width: 202px;
  width: 100%;
  border-radius: 40px;
  height: 48px;
  margin-top: 20px;
  background-color: #468189;
  padding:8px;
  display: block;
}

a.form__btn--link {
  color: #ffff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.form__btn {
  background:
    radial-gradient(circle closest-side, #FFB039 97%,#0000) center;
  background-size:0 0;
  background-repeat:no-repeat;
  transition:0.6s;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  display: block;
}

.form__btn:hover, .form__btn:focus, .form__btn:active {
  background-size:300px 300px;
  box-shadow: 3px 0px 12px 5px rgba(0, 0, 0, 0.5);
  border: none;
}

.form__img {
  position: absolute;
  right: -51px;
  top: 52px;
  z-index: 2;
}
