* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #9DBEBB;
  }
  
  .container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    /*border: 2px solid white;*/ /*Debugging*/
    margin-top: 153px;
  }
  
  .red {
    width: 954px;
    height: 594px;
    background-color: #BE0909;
    box-shadow: 0px 0px 32px 0px #00000040;
    /*border: 2px solid white;*/ /*Debugging*/
  }

  .absolute {
    /*border: 2px solid white;*/ /*Debugging*/
    position: absolute;
    width: 345px;
    height: 594px;
    
  }

  .yellow {
    background-color: #FFB039;
    position: relative;
  }

  img {
    /*border: 2px solid white;*/ /*Debugging*/
    z-index: 1;
    position: absolute;
    top: 52px;
    right: -51px;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 400px;
    min-height: 466px;
    justify-content: flex-start;
    margin-left: 65px;
    margin-top: 64px;
    /* border: 1px solid white; debugging */
    z-index: 1;
    position: relative;
  }

  .form-container {
    /* border: 1px solid white; debugging */
    display: flexbox;
    position: relative;
    flex-direction: column;
    min-height: 72px;
  }

  .form-container label {
    /* border: 1px solid white; debugging */
    color: #FEFFFF;
    min-height: 21px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: absolute;
    align-self: baseline;
    top: 0px;

  }

.email-container, .messreg-container, .message-container {
  margin-top: 22px;
}

  .form-container input {
    /* border: 1px solid white; debugging  */
    background-color: #BE0909;
    color: #fff;
    min-height: 21px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1.16px; */
    letter-spacing: 0.3em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
  }

  input {
    padding-bottom: 10px;
    border-bottom: 1px solid #FEFFFF;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  input:hover {
    opacity: 1;
    transition: background-color .0.3s;
  }

  input:active {
    background-color: #BE0909;
    color: #fff;
  }

  .button {
    margin-top: 56px;
    box-sizing: border-box;
    padding: 13px 25px;
    border: none;
    background-color: #468189;
    color: #FFFFFF;
    min-width: 202px;
    min-height: 48px;
    border-radius: 40px;
    box-shadow: 0px 0px 12px 0px #00000080;
    align-self: center;
    font-size: 18px;
    line-height: 1.17px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: background-color .5s;
  }

  .button:hover {
    transition: background-color .5s;
    background-color: #FFB039;
    cursor: pointer;
  }



.message-input, .name-input {
  min-width: 400px;
}

.messreg-input {
  min-width: 160px;
}

.email-input {
  min-width: 150px;
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}